# Ignore all
*
.idea/workspace.xml
.idea
# Unignore all with extensions
!*.*
!Makefile
!Dockerfile
!Jenkinsfile
!VERSION
# .htpasswd
coverage.out

# Unignore all dirs
!*/

#liquibase
debug.log

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.class
*.sm

# Ignore sqlite files
*.sqlite

# Ignore `bin` dir
bin/
.idea/
rpmbuild/
# or
*/bin/*
*/.idea/*
vendor/
*/vendor/*
dist/
*/dist/*
*/rpmbuild/*
configs/version.txt
*/configs/version.txt

# Unignore all `.jar` in `bin` dir
!*/bin/*.jar

# Ignore all `library.jar` in `bin` dir
*/bin/library.jar

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.DS_Store

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/
target
*/target
/gocd-plugins/.nb-gradle/

build
.bpp
.tags
.version


node_modules
package-lock.json
swamp-ui/package/
!swamp-ui/**/microfe.sqlite